__pycache__/
debug/
dataset/
datasets/
logs/
log/
results/
result/
output*
experiments/
experiment/
pretrained_models/
pretrained_model/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
autodl-tmp/
baselines/
model/
models/
.ipynb_checkpoints/
submodules/
.vscode/
.trash/